{% extends "base.html" %} 
{% load static %}

{% block title %} 
My Blog 
{% endblock title %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
  <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock css_files %}

{% block content %}
<section id="welcome">
  <header>
    <img src="{% static "blog/images/dummy-user.png" %}" alt="Soheil - The Author Of This Blog" />
    <h2>SOHEIL'S BLOG</h2>
  </header>
  <p>Hi, I am Soheil and I love to blog about tech and the world!</p>
</section>

<section id="latest-posts">
  <h2>My Latest Thoughts</h2>

  <ul>
    {% for post in posts %}
      {% include "blog/includes/post.html" %}
    {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>What I Do</h2>
  <p>
    I love programming, I love listening to music and I enjoy exploring new
    technologies in general!
  </p>
  <p>
    My goal is to keep on growing as a developer and deepen my knowledge everyday!
  </p>
</section>
{% endblock content %}