{% extends "base.html" %}
{% load static %}

{% block title %} 
{{ post.title }}
{% endblock title %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post-detail.css" %}"/>
{% endblock css_files %}

{% block content %}
<section id="summary">
    <h2>{{ post.title }}</h2>
    <article>
      <img src="{% static "blog/images/"|add:post.image %}" alt="{{ post.title }}" />
      <address>By {{ post.author }}</address>
      <div>
        Last updated on <time>{{ post.date|date:"d M Y" }}</time>
      </div>
    </article>
  </section>
  
  <main>
    <p>{{ post.content|linebreaks }}</p>
  </main>
{% endblock content %}